html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-color: rgb(0, 0, 27);
  }


  .header-container{
    position: relative;
    margin: 0% 2%;
}


.header-container #brand{
    display: inline-block;
}

.header-container #brand h3{
    background-image: linear-gradient(45deg, rgb(0, 40, 172), rgb(68, 202, 255));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}

.header-container #teams h3{
    display: inline-block;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem;
    margin-top: 0%;
}


  .login-box {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: 
     linear-gradient(rgb(0, 0, 27),rgb(0, 0, 27)) padding-box, /*this is your grey background*/
     linear-gradient(to right, #0400ff, #00b7ff) border-box;
    color: whitesmoke;
    border: 5px solid transparent;
    border-radius: 1rem;
    display:inline-block;
    box-sizing: border-box;
   
  }
  
  .login-box h2 {
    margin: 0 0 20%;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  
  .user-box > input::placeholder{
      color: whitesmoke;
      opacity: 0.8;
  }
  
  .login-box form > #auth {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #00a2aa;
    color: whitesmoke;
    font-size: 18px;
    text-decoration: none;
    /* text-transform: uppercase; */
    overflow: hidden;
    transition: .5s;
    margin: 10px 0px;
    letter-spacing: 1.5px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 600;
  }
  
  .login-box #auth:hover {
    background: #04b3f8;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #01a7da,
                0 0 25px #00b9f1,
                0 0 50px #028dff,
                0 0 100px #00b4e0;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  /* .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  } */
  
  /* @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  } */
  
  /* .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  } */
  
  /* @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  } */
  
  /* .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  } */
  
  /* @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  } */
  
  /* .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  } */
  
  /* @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  } */
  